# Local environment variables
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env*/
.venv/
venv/

# IDE/editor
.vscode/
.idea/

# pytest
.pytest_cache/

# Do not commit the data dir to protect non-public data
data/ 

